<div class="footer">
    <div class="w">
        <div class="copyright">
            <a href="https://www.taobao.com" class="link" target="_blank">淘宝网</a> |
            <a href="https://www.jd.com" class="link" target="_blank">京东购物</a> |
            <a href="https://www.amazon.cn" class="link" target="_blank">亚马逊</a> |
            <a href="https://www.suning.com" class="link" target="_blank">苏宁易购</a>
        </div>
        <p class="copyright">
            Copyright © 2017 happymmall.com All Right Reserved
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>